{% extends "headerfooter.html" %}
{% block content %}
<div class="video">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">               
                <div id="media">
                    <h2>Player</h2>
                    <audio id="audio" autoplay=></audio>
                    <video id="video" poster="./static/img/poster.png" autoplay muted playsinline></video>
                </div>
                <script src="./static/js/client.js"></script>
                
            </div>
            <div class="col-xl-6 col-md-6">
                <h2>Media sources</h2>
                <select id="cams">
                    {% for cam in cams %}
                        <option value="{{cam['id']}}">{{cam['name']}} {{cam['id']}}</option>
                    {% endfor %}
                </select>
                <button id="start" onclick="start()">Start</button>
                <button id="stop" style="display: none" onclick="stop()">Stop</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
