{% extends "headerfooter.html" %}
{% block content %}
<style>
    .controlbuttons{
        margin: 0;
        position: absolute;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .button {
        background-color: #e7e7e7; color: black;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<div class="welcome_protomedia">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">               
                <div id="media">
                    <audio id="audio" autoplay=></audio>
                    <video id="video" poster="./static/img/poster.png" autoplay muted playsinline></video>
                </div>
                <script src="./static/js/client.js"></script>
                
            </div>
            <div class="col-xl-6 col-md-6">
                <div style="width:100%"><div style="margin: 0 auto; text-align: center;"><div>
                    <select id="cams">
                        {% for cam in cams %}
                            <option value="{{cam['id']}}">{{cam['name']}} {{cam['id']}}</option>
                        {% endfor %}
                    </select>
                    <button id="start" class="genric-btn default" onclick="start(), chosecam()">Start</button>
                    <button id="stop" class="genric-btn default" style="display: none" onclick="stop()">Stop</button>
                <!-- <div class="controlbuttons">     -->
                    <div class="button-group-area">
                        <br>
                        <script src="./static/js/control.js"></script>
                        <button id="up" class="genric-btn default" onclick="up()">↑</button><br>
                        <button id="left" class="genric-btn default" onclick="left()">←</button>
                        <button id="camstop" class="genric-btn default" onclick="camstop()">stop</button>
                        <button id="right" class="genric-btn default" onclick="right()">→</button><br>
                        <button id="down" class="genric-btn default" onclick="down()">↓</button>
                        <br><br>
                        <button id="zoomin" class="genric-btn default" onclick="zoomin()">+</button>
                        <button id="zoomout" class="genric-btn default" onclick="zoomout()">-</button>
                    </div>
                </div></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
