{% extends "headerfooter.html" %}
{% block content %}

<div class="welcome_protomedia">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <h3> <!--MiemCAM<br /> -->
                    Вся мультимедия<br />
                    Высшей Школы Экономики <br />
                    На одном сайте </h3>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="add_here">
                    <img src="/static/img/banner/pokrovka.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_protomedia_end -->

<!-- photographi_area_start -->
<div class="photographi_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6">
                <div class="single_photography photography_bg_1">
                    <div class="info">
                        <div class="info_inner">
                            <h3><a href="#">Запись лекции в Назначенное время<br>
                                    С сохранением в облаке</a></h3>
                            <div class="date_catagory d-flex align-items-center justify-content-between">
                                <span>Чтобы не пропустить важное</span>
                                <span class="catagory">Попробовать</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-6">
                <div class="single_photography photography_bg_2">
                    <div class="info">
                        <div class="info_inner">
                            <h3><a href="control">Моментальное<br>Управление камерами<br>
                                    Для персонала</a></h3>
                            <div class="date_catagory d-flex align-items-center justify-content-between">
                                <span>Корректировка изображения прямо с сайта</span>
                                <span class="catagory" href="control">Попробовать</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- photographi_area_end -->

<!-- most_recent_blog_start -->
<div class="most_recent_blog">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-33">
                    <!--<h3>Блог</h3>-->
                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="single_blog">
                            <div class="blog_thumb">
                                <a href="#">
                                    <img src="/static/img/most_recent/raspisanie.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog_meta">
                                <p><a href="#">Обновления I 24 Май 2020</a></p>
                                <h3><a href="#">
                                        Добавлено: интеграция<br>
                                        С расписанием
                                    </a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="single_blog">
                            <div class="blog_thumb">
                                <a href="#">
                                    <img src="/static/img/most_recent/onvif.jpg" alt="">
                                </a>
                            </div>
                            <div class="blog_meta">
                                <p><a href="#">Блог I 24 May 2020</a></p>
                                <h3><a href="#">
                                        WebRTC трансляция<br>
                                        С ONVIF устройств
                                    </a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="blog_right_side">
                    <div class="section_title mb-33">
                        <h3>Соцсети</h3>
                    </div>
                    <div class="foollow_links">
                        <ul class="d-flex align-items-center justify-content-between">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                    <h2>142K</h2>
                                    <p>followers</p>
                                </a>
                            </li>
                            <li>
                                <a class="insta" href="#">
                                    <i class="fa fa-instagram"></i>
                                    <h2>142K</h2>
                                    <p>followers</p>
                                </a>
                            </li>
                            <li>
                                <a class="twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                    <h2>142K</h2>
                                    <p>followers</p>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- most_recent_blog_end -->
<!-- 
<div class="moderators_area">
    <div class="container">
        <div class="modarator_border"></div>
        <div class="row">
            <div class="col-xl-12">
                <div class="modarator_title">
                    <h3>Наша команда</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-3">
                <div class="single_modarators">
                    <div class="moderator_thumb">
                        <img src="/static/img/team/1.png" alt="">
                        <div class="author_links">
                            <ul>
                                <li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="moderator_name">
                        <h3>Jack Piller</h3>
                        <p>IOS developer</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="single_modarators">
                    <div class="moderator_thumb">
                        <img src="/static/img/team/2.png" alt="">
                        <div class="author_links">
                            <ul>
                                <li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="moderator_name">
                        <h3>Macau Wilium</h3>
                        <p>Backend developer</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="single_modarators">
                    <div class="moderator_thumb">
                        <img src="/static/img/team/3.png" alt="">
                        <div class="author_links">
                            <ul>
                                <li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="moderator_name">
                        <h3>Ander Doe</h3>
                        <p>Multimedia engineer</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-3">
                <div class="single_modarators">
                    <div class="moderator_thumb">
                        <img src="/static/img/team/4.png" alt="">
                        <div class="author_links">
                            <ul>
                                <li><a href="#"> <i class="fa fa-envelope"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"> <i class="fa fa-linkedin-square"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="moderator_name">
                        <h3>Clurk Amila</h3>
                        <p>Frontend developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
{% endblock %}