body {
  background-image: url(bigback.png);
  backdrop-filter: blur(2px);
}

.startup_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 1156px;
  height: 317px;
  left: calc(50% - 1156px/2);
  top: 438px;
}
.top {
  position: absolute;
  width: 1920px;
  height: 230px;
  left: calc(50% - 1400px/2);
  top: -115px;
  border-radius: 26px;
}
.menu {
  position: absolute;
  left: 43.79%;
  right: 20.64%;
  top: 61.3%;
  bottom: 29.13%;
}
ellipse {
  position: absolute;
  left: -16.21%;
  right: 0%;
  top: 18.26%;
  bottom: 17.39%;
background: #6EC98F;
}


.logo {
  position: absolute;
  left: 14.5%;
  right: 70.43%;
  top: 56.96%;
  bottom: 25.22%;
}
.logoname {
  position: absolute;
  left: 17.71%;
  right: 70.43%;
  top: 56.96%;
  bottom: 25.22%;
}

/*FANTASY*/
ul {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
li { 
  margin: 15px;
  float: left ;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
a {
  text-decoration: none;
  color: black;
}
/* headers/h1 */
h1 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  text-align: center;

color: #000000;
}

.etcmenu {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}